@model BasketViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md8 offset-2">
        <div class="card-body">

            <h5 class="card-title">Sepet</h5>


            @if (Model != null && Model.BasketItems.Any())
            {

                <table class="table table-striped">
                    <tr>
                        <th>Kurs İsim</th>
                        <th>Kurs Fiyat</th>
                        <th>İşlemler</th>
                    </tr>



                    @foreach (var item in Model.BasketItems)
                    {
                        <tr>
                            <td>@item.CourseName</td>
                            <td>@item.GetCurrentPrice TL</td>

                            <td>
                                <a asp-controller="Basket" asp-action="RemoveBasketItem" asp-route-courseId="@item.CourseId">Sil</a>
                            </td>


                        </tr>
                    }

                    

                    @if (Model.HasDiscount)
                    {
                        <tr>
                            <td>İndirim Oranı</td>
                        </tr>
                        <td colspan="2">% @Model.DiscountRate.Value</td>
                    }

                    <tr>
                        <td>@(Model.HasDiscount ? "İndirimli fiyat" :"Toplam fiyat")</td>
                        <th colspan="2">@Model.TotalPrice TL</th>
                    </tr>

                
                </table>

                <form asp-controller="Basket" asp-action="ApplyDiscount">

                    @if(Model.HasDiscount)
                    {
                        <div class="alert alert-success">
                            "@Model.DiscountCode" indirim kodu uygulandı
                        </div>
                    }
                    @if (TempData["discountStatus"] != null && (bool)TempData["discountStatus"] == false)
                    {
                        <div class="text-danger">İndirim Kodu Geçersiz</div>
                    }
                    <div class="input-group mb-3">

                        <input type="text" name="DiscountApplyInput.Code" class="form-control" />
                        <div asp-validation-summary="All"></div>
                        <button class="btn btn-outline-secondary">Uygula</button>

                    </div>
                        
                    
                </form>

            }
            else
            {
                <div class="alert alert-info">Sepet Boş </div>
            }



        </div>



    </div>

</div>

